.diceHolder {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 20px;
}

.die {
  background-color: #f1f1f1;
  aspect-ratio: 1;
  width: 70px;
  font-size: 1.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.13);
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  cursor: pointer;
  transition: 100ms;
  -webkit-transition: 100ms;
  -moz-transition: 100ms;
  -ms-transition: 100ms;
  -o-transition: 100ms;
}
.die:hover {
  background-color: var(--main-color);
  color: white;
}

@media (max-width: 768px) {
  .diceHolder {
    display: flex;
    flex-wrap: wrap;
    max-width: calc(50px * 4);
    justify-content: center;
    margin-bottom: 20px;
  }
  .die {
    width: 50px;
    font-size: 1.4rem;
  }
}
