.heading {
  position: absolute;
  top: 20px;
}

.heading h1 {
  font-size: 5rem;
  text-align: center;
}

.heading p {
  font-size: 1.2rem;
  font-weight: 300;
  text-align: center;
}

@media (max-width: 768px) {
  .heading h1 {
    font-size: 3rem;
  }
  .heading p {
    font-size: 0.8rem;
  }
  .hint {
    display: none;
  }
}
