.side {
  position: absolute;
  left: 20px;
  top: 50%;
  transform: translateY(-50%);
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 15px;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
}

.side .levelHolder {
  background-color: var(--light);
  font-weight: 600;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
  width: 55px;
  aspect-ratio: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 6px;
  font-size: 1.1rem;
  cursor: pointer;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  -ms-border-radius: 6px;
  -o-border-radius: 6px;
  transition: 100ms;
  -webkit-transition: 100ms;
  -moz-transition: 100ms;
  -ms-transition: 100ms;
  -o-transition: 100ms;
}
.side .levelHolder:not(:hover) {
  transition: 300ms;
  -webkit-transition: 300ms;
  -moz-transition: 300ms;
  -ms-transition: 300ms;
  -o-transition: 300ms;
}
.side .levelHolder:hover {
  background-color: var(--main-color);
  color: white;
}
.side .levelHolder.active {
  background-color: var(--sub-color);
  color: white;
  box-shadow: inset 3px 3px 5px rgba(0, 0, 0, 0.15);
}

@media (max-width: 767px) {
  .side .levelHolder {
    width: 40px;
    font-size: 1rem;
  }
}
