:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  --background-color: #2b2e4a;
  --main-color: #e84545;
  --sub-color: #bf0426;
  --light: #f5f5f5;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--background-color);
  padding: 40px 20px;
  background: linear-gradient(270deg, #182540, #101726);
  background-size: 600% 600%;

  -webkit-animation: backWave 30s ease infinite;
  -moz-animation: backWave 30s ease infinite;
  -o-animation: backWave 30s ease infinite;
  animation: backWave 30s ease infinite;
}

main {
  /*background-color: var(--light);
  */
  background: linear-gradient(270deg, #d8eaff, #e7edf2);
  background-size: 400% 400%;
  -webkit-animation: wave 0s ease infinite;
  -moz-animation: wave 0s ease infinite;
  animation: wave 0s ease infinite;
  min-height: calc(100vh - 80px);
  max-width: 1000px;
  margin: 0 auto;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  display: flex;
  align-items: center;
  padding: 20px;
  position: relative;
  -webkit-animation: gradient-animation 1s ease infinite;
  box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.2);
  overflow: hidden;
}
.game {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 120px;
}

@media (max-width: 767px) {
  body {
    padding: 20px;
  }
  main {
    min-height: calc(100vh - 40px);
  }
  .game {
    margin-top: 50px;
  }
}

@-webkit-keyframes wave {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
@-moz-keyframes wave {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
@keyframes wave {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

@-webkit-keyframes backWave {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
@-moz-keyframes backWave {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
@-o-keyframes backWave {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
@keyframes backWave {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
